{% extends 'mailing/base.html' %}
{% block title %}Клиенты сервиса{% endblock %}
{% block content %}

 <!-- Основной контент -->

    <main class="main-content">
        <div class="content-header">
            <h1>Попытки рассылок</h1>
            <p>Просмотр рассылок</p>
        </div>

        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Создана</th>
                    <th>Статус</th>
                    <th>server_response</th>
                    <th>Рассылка</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for attempt in object_list %}
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{attempt.created_at}}</td>
                    <td><span class="status status{% if attempt.status == 'successfully' %}-active">Успешно
                        {% else %}-inactive">Не Успешно{% endif %}</span></td>
                    <td>{{ attempt.server_response }}</td>
                    <td>{{ attempt.mailing }}</td>
                    <td>{{ attempt.owner }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </main>

{% endblock %}