{% extends 'mailing/base.html' %}
{% block title %}Клиенты сервиса{% endblock %}
{% block content %}

 <!-- Основной контент -->

    <main class="main-content">

      <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <h3 class="fw-light">Всего рассылок:
                        {{total_mailings}}</h3>
                    <h3 class="fw-light">Количество успешных попыток рассылок:
                        {{active_mailings}}</h3>
                    <h3 class="fw-light">Количество отправленных сообщений:
                        {{unique_clients}}</h3>
                </div>
            </div>
        </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for attempt in attempts %}

            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Дата и время создания попытки рассылки:</p>
                        <p class="card-text">{{attempt.created_at|date:"H:i:s d M Y"}}</p>
                        <p class="card-text">Статус попытки рассылки: {{attempt.get_status_display}}</p>
                        <div class="d-flex justify-content-between align-items-center">

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

    </main>

{% endblock %}