<!-- Сайдбар -->
<aside class="sidebar">
        <nav class="menu">
            <a href="{% url 'mailing:home' %}" class="menu-item{% if current_page == 'home' %} active"{% endif %}">
                    <span class="nav-buttons"> Главная </span>
            </a>
            <a href="{% url 'users:user_list' %}" class="menu-item{% if current_page == 'user_list' %} active"{% endif %}">
                    <span class="nav-buttons"> Пользователи </span>
            </a>

        </nav>
    </aside>